body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image: url(./../img/bg-register.jpg);
    background-size: contain;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

#contenedor {
    display: flex;
    align-items: center;
    opacity: 0; /* El div comienza invisible */
    transition: opacity 0.7s ease-in-out; /* Transición de opacidad*/
}

/* Estilo cuando el div está visible */
#contenedor.visible {
    opacity: 1; /* El div se hace visible */
  }

.cartel {
    color: rgb(255, 153, 0);
    background-color: #3E3435;
    border: solid 2px white;
    border-radius: 10px;
    /* box-shadow: 10px 5px rgb(82, 82, 82); */
    box-shadow: 10px 10px rgba(82, 82, 82, 0.8); /* Sombra con desplazamiento horizontal 0, desplazamiento vertical 2px, desenfoque 4px, color RGBA */
    height: fit-content;
}

.icono {
    font-size: 2rem;
    color: white;
}

a {
    text-decoration: none;
    color: dimgray;
}
